**/*.txt
**/deps
/doc/
/lib/*/ebin/
**/_build/
/lib/*/tmp/
/lib/elixir/src/*_parser.erl
/lib/elixir/test/ebin/
/man/elixir.1
/man/iex.1
/Docs.zip
/Precompiled.zip
/.eunit
.elixir.plt
erl_crash.dump
/cover/
.tool-versions
**/test
**/.formatter.exs
aoc_*/README.md
aoc_*/.gitignore

